---
// About Page
// ------------
// Description: The about page is a page that displays information about the company.

// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - Blocks
import BasicHeroCTA from '../components/blocks/hero/BasicHeroCTA.astro'
import TwoColVideoSection from '../components/blocks/video/TwoColVideoSection.astro'
import TeamIntro from '../components/blocks/team/TeamIntro.astro'
import Statistics from '../components/blocks/stats/Statistics.astro'
import Testimonials from '../components/blocks/testimonials/TestimonialsAlt.astro'
import BrandSlider from '../components/blocks/slider/BrandSlider.astro'
// - UI
import Card from '../components/ui/cards/Card.astro'

// Content
// - SEO
const SEO = {
	title: 'PhaseLine Painting | About us',
	description: 'About PhaseLine Painting - Professional painting services'
}
// - Hero
const hero = {
	title: 'Professional team, quality results.'
}
// - About Section
const aboutSection = {
	leftCardContent: [
		`PhaseLine Painting is a professional painting company with experienced painters who take pride in delivering quality work. We work closely with our clients, ensuring every detail is perfect and every project exceeds expectations.`,

		`We believe the best results come from careful preparation, quality materials, and skilled craftsmanship. Collaborating directly with our clients to bring their vision to life. We're committed to excellence, reliable service, and transforming spaces with beautiful, lasting paint work.`
	],
	rightCardVideo: 'https://oxygenna-themes.b-cdn.net/Solid Builders-astro/videos/about-us-video.mp4'
}
---

<Layout title={SEO.title} description={SEO.description}>
	<BasicHeroCTA title={hero.title} titleSpan="12" classes="[&_h1]:max-w-[920px]" />

	<TwoColVideoSection classes="pt-0! overflow-visible!" video={aboutSection.rightCardVideo}>
		<Card>
			{aboutSection.leftCardContent.map((paragraph) => <p class="mb-9! last:mb-0">{paragraph}</p>)}
		</Card>
	</TwoColVideoSection>
	<TeamIntro />
	<Statistics />
	<Testimonials sectionType="none" />
	<BrandSlider />
</Layout>
